docs/n8n-voice-agent-workflow.json
{
  "name": "Nivesh Saathi Voice Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "voice-agent-webhook-id"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}"
            },
            {
              "name": "conversationId",
              "value": "={{ $json.body.conversationId || $json.body.userId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "language",
              "value": "={{ $json.body.metadata.language || 'en' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are a helpful, professional financial advisor AI named Saathi. You specialize in fixed deposits and general investments. Keep your answers conversational, relatively short (since they will be read aloud via TTS), and directly address the user's query. If the user speaks in Hindi, reply in natural Hindi (using Devanagari script). If English, reply in English."
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "AI Advisor Response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "voice": "={{ $('Extract Input').item.json.language === 'hi' ? 'hi-IN-Standard-A' : 'en-US-Journey-F' }}",
        "text": "={{ $json.text }}",
        "language": "={{ $('Extract Input').item.json.language === 'hi' ? 'hi-IN' : 'en-US' }}"
      },
      "id": "4",
      "name": "Text to Speech (Google)",
      "type": "n8n-nodes-base.googleCloudTextToSpeech",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "notes": "Replace with ElevenLabs or your preferred TTS provider if needed."
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "conversationId",
              "value": "={{ $('Extract Input').item.json.conversationId }}"
            },
            {
              "name": "reply",
              "value": "={{ $('AI Advisor Response').item.json.text }}"
            },
            {
              "name": "audioUrl",
              "value": "={{ $json.audioUrl || null }}"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "AI Advisor Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Advisor Response": {
      "main": [
        [
          {
            "node": "Text to Speech (Google)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to Speech (Google)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
